.profile-page {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg.png") no-repeat fixed top center rgba(52, 49, 63, 0.21);
    background-size: cover;
    z-index: -1;
    opacity: 0.2;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    @include mq(991) {
      flex-direction: column;
        gap: 10px;
    }
  }

  .profile-column {
    flex: 0 0 30%;
    max-width: 30%;
    position: sticky;
    top: 80px;
    @include mq(991) {
      position: static;
      top: auto;
        max-width: 100%;
        flex: 0 0 100%;

    }

    .profile-sidebar {
      background: var(--color-bg3);
      min-height: 100px;
      box-shadow: -3px 2px 21px 4px rgba(32, 30, 41, 1);

      width: 100%;
    }
  }

  .content-column {
    flex: 0 0 calc(70% - 30px);
    max-width: calc(70% - 30px);
    @include mq(991) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}

.profile-content {
  background: url("../images/hero-bg.png") no-repeat top 120px right var(--color-bg2);
  box-shadow: -3px 2px 21px 4px rgba(32, 30, 41, 1);
  position: relative;
  padding: 30px 0 0;
}

.short-bio, .about-block {
  position: relative;

  &__content {
    display: flex;
    gap: 30px;
    @include mq(767) {
      flex-direction: column;
      gap: 0;
    }

    & > div {
      flex: 1;
    }
  }
}

.what-do {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include mq(991) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(767) {
      grid-template-columns: 1fr;
    }
  }
}

.skills-slider {

  &__item {
    display: block;
    background: var(--color-bg3);
    text-align: center;
    transition: all ease 300ms;

  }

  &__link {
    display: block;
    padding: 25px 15px;
    max-height: 136px;

    svg {
      width: 120px;
      height: 60px;
      fill: #ffffff;
      opacity: 0.3;
      transition: 0.3s ease all;
    }

    &:hover svg {
      opacity: 1;
    }
  }

  &__image {
    display: inline-block;
    max-width: 100%;
    width: auto;
    min-width: inherit;
    opacity: .3;
    transition: all ease 300ms;
  }

  &__item:hover &__image {
    opacity: 1;
  }
}

.facts {
  position: relative;

  &__wrapper {
    width: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.resume-section {
  position: relative;

  &__wrapper {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__education,
  &__experience {
    flex: 1;
    min-width: 300px;
  }

  &__title {
    margin-bottom: 30px;
  }
}


.projects {
  &__wrapper {
    padding: 40px 0 40px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include mq(767) {
      flex-direction: column;
      gap: 15px;
    }
  }
  &__title {
    margin-bottom: 0;
  }
}
