@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jost/Jost-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/jost/Jost-Bold.ttf') format('truetype');
}