*, ::after, ::before {
  box-sizing: border-box;
}
:root {
  --color-acent: #ffb162;
  --color-main: #a35139;
  --color-bg: #dbdad5;
  --color-bg2: #00192f;
  --color-bg3: #2c3b4d;
  --color-text: #e1e1e1;
  --color-text2: #808080;
}

html,body{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  color: var(--color-text);
  padding: 80px 0;
  word-break: break-word;
  background: var(--color-bg);
  @include mq(991){
    padding: 100px 0 20px;
  }
}
p{
  margin: 0 0 15px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 600;
  line-height: 1.3333;
  margin: 0 0 15px;
}
a{
  color: var(--color-main);
  text-decoration: none;
  transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
}
a:hover{
  color: var(--color-acent);
  text-decoration: none;
}
input:focus, button:focus, select:focus, textarea:focus, a:focus{
  outline: 0;
  box-shadow: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.quantityd input[type="number"]::-webkit-outer-spin-button,
.quantityd input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.fw_300{
  font-weight: 300;
}
.fw_400{
  font-weight: 400;
}
.fw_500{
  font-weight: 500;
}
.fw_600{
  font-weight: 600;
}
.fw_700{
  font-weight: 700;
}
.wb_all{
  word-break: break-all;
}
.fs_italic{
  font-style: italic;
}
.td_underline{
  border-bottom: 1px solid currentColor;
  display: inline;
  line-height: 1;
  word-break: break-word;
}
.secondary_color{
  color: var(--color-acent);
}
.primary_color{
  color: var(--color-main);
}
.dark_color{
  color: var(--color-bg2);
}
.dark_color_2{
  color: var(--color-bg);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
      max-width: 540px;
  }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }

}

