.footer {
  position: relative;
  background: var(--color-bg3);
  margin-top: 50px;
}

.copyRight {
  font-size: 13px;
  font-weight: 500;
  padding: 17px 0;
  text-align: center;
    color: var(--color-bg);
}

.copyRight p {
  margin: 0;
}