.icon-box {
  position: relative;

  &--01{
    position: relative;
    padding-left: 69px;
    padding-top: 5px;
    min-height: 50px;
    margin-bottom: 30px;

    i{
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      background: var(--color-main);
      color: #FFF;
      border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
      font-size: 18px;
      line-height: 1;
      text-align: center;
      padding: 16px 0;
      transition: all ease 300ms;
      -moz-transition: all ease 300ms;
      -webkit-transition: all ease 300ms;
      -o-transition: all ease 300ms;
      -ms-transition: all ease 300ms;

    }
    &:hover i{
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      background: var(--color-acent);
    }
    h3{
      font-size: 16px;
      line-height: 1;
      font-weight: 600;
      color: #FFF;
      text-transform: capitalize;
      margin: 0 0 -2px;
      a{
        color: inherit;
        &:hover{
          color: var(--color-acent);
        }
      }
    }
    p{
      font-size: 17px;
      margin: 0;
      line-height: 30px;
      a{
        color: inherit;
        &:hover{
          color: var(--color-acent);
        }
      }
    }
  }

  &--02{
    position: relative;
    background: var(--color-bg3);
    padding: 20px 15px 22px;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 5px solid transparent;
    transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
    &:hover{
      border-radius: 2px 2px 10px 10px;
      border-bottom-color: var(--color-main);
      box-shadow: -3px 2px 21px 4px rgba(32, 30, 41, 1);
      .i_div{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        background: var(--color-main);
        color: #FFF;
      }
    }
    .i_div{
      height: 60px;
      width: 60px;
      background: var(--color-bg2);
      border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
      text-align: center;
      font-size: 25px;
      line-height: 60px;
      color: var(--color-main);
      margin: 0 0 23px;
      position: relative;

      transition: all ease 300ms;
      -moz-transition: all ease 300ms;
      -webkit-transition: all ease 300ms;
      i{
        color: inherit;
      }
      h3{
        color: #FFF;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        margin: 0 0 5px 0;
        a{
          color: inherit;
        }
      }
    }
    h3{
      color: var(--color-main);
    }
    h5{
      font-size: 12px;
      line-height: .8;
      color: var(--color-acent);
      font-weight: 400;
      letter-spacing: 2px;
      margin: 0 0 21px 0;
    }
    p{
      margin: 0;
      a{
        color: inherit;
      }
    }
  }

  &--03 {
    i{
      position: relative;
      z-index: 3;
      font-size: 26px;
      font-weight: 700;
      color: #FFF;
      line-height: 1;
      display: block;
      text-align: center;
      font-style: normal;
    }

    .icon-box__icon {
      display: inline-block;
      width: 110px;
      height: 110px;
      padding: 43px 0;
      position: relative;
      margin: 0 auto;
    }

    .icon-box__icon::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--color-main);
      opacity: .6;
      border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
      content: '';
      z-index: 1;
      transition: all ease 300ms;
    }

    .icon-box__icon::after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--color-main);
      opacity: .6;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      content: '';
      z-index: 2;
      transition: all ease 300ms;
    }

    &:hover .icon-box__icon::before {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      background: var(--color-acent);
    }

    &:hover .icon-box__icon::after {
      border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
      background: var(--color-acent);
    }

    .icon-box__icon-symbol {
      position: relative;
      z-index: 3;
      font-size: 26px;
      font-weight: 700;
      color: #FFF;
      line-height: 1;
      display: block;
      text-align: center;
      font-style: normal;
    }

    .icon-box__title {
      position: relative;
      z-index: 3;
      font-size: 16px;
      line-height: .8;
      color: #FFF;
      font-weight: 600;
      letter-spacing: 0;
      text-transform: capitalize;
      margin: 25px 0 0;
      text-align: center;
    }
  }
}
