.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 99;
  display: flex;
  justify-content: center;
  padding: 40px;
  background: rgba(32, 30, 41, .9);
  cursor: url('../images/close.png'), auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  &.is-open {
    opacity: 1;
    visibility: visible;
  }
  @include mq(767) {
    padding: 20px;
  }

  &__content {
    cursor: default;
    background: var(--color-bg2);
    box-shadow: 0px 0px 20px 0px #0000001A;
    position: relative;
    z-index: 100;
    width: 70%;
    max-width: 780px;
    height: fit-content;
    @include mq(991) {
      width: 100%;
    }
  }

  .project {
    &__title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &__content {
      display: flex;
      gap: 40px;
      @include mq(767) {
        flex-direction: column-reverse;
        gap: 20px;
      }
      .project-url{
        color: var(--color-acent);
        text-transform: uppercase;
        text-decoration: underline;
      }
    }

    &__description {
      flex: 1;
      max-width: 50%;
        @include mq(767) {
            max-width: 100%;
        }
    }
    &__meta{
      flex: 1;
      max-width: 50%;
      @include mq(767) {
        max-width: 100%;
      }
    }

    &__gallery {
      width: 100%;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      @include mq(767) {
        height: 400px;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;

      }

      .gallery-top {
        height: 75%;
        width: 100%;
      }

      .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 5px 0;
      }

      .gallery-thumbs .swiper-slide {
        height: 100%;
        position: relative;

        &:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: var(--color-main);
          opacity: 0.25;
          transition: 0.3s ease;
        }

        &:after {
          content: "\ed1b";
          font-family: 'IcoFont' !important;
          font-size: 24px;
          color: #FFF;
          position: absolute;
          left: 0;
          width: 24px;
          height: 26px;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          opacity: 0;
          visibility: hidden;
          background: transparent;
          transition: 0.3s ease;
        }
      }

      .gallery-thumbs .swiper-slide-thumb-active {
        &:before {
          opacity: 0.75;

        }

        &:after {
          opacity: 1;
          visibility: visible;
        }
      }


    }
  }
  .popup-close{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: var(--color-main);
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 999;
    color: #FFF;
    @include mq(767) {
      display: block;
    }
  }
}